/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*******************************************/
/************* PROVIDERS PAGE LISTING STYLES! ***************/
/*******************************************/
#providers {
	overflow:hidden;
	background-size: cover;
	width:100%;
	max-width:1600px;
	padding: 20px 0 100px 0;
	margin:0 auto;
	}
	@media only screen and (max-width: 768px) {
	#providers {
		overflow:hidden;
		background-size: cover;
		width:100%;
		max-width:1600px;
		padding: 0 0 20px 0;
		margin:0 auto;
		}
	}

#providers .one-fifth.column {
	height: auto;
	}

#providers * {
	position:relative;
	z-index:1;
	box-sizing:border-box;
	color:#ffffff;
	transition: 0.25s;
	text-shadow:0 0 6px rgba(0,0,0,0.61);
	}

#providers #provider-listing {
  width: 90%;
  margin: 0 auto;
	}
/* #providers > div:last-of-type {
	padding: 1.5vw 1.5vw 90px 1.5vw;
	}
	@media only screen and (max-width: 768px) {
	#providers > div {
		padding: 0.75vw;
		}
	#providers > div:last-of-type {
		padding: 0.75vw 0.75vw 40px 0.75vw;
		}
	}
	@media only screen and (max-width: 566px) {
	#providers > div {
		padding: 0;
		}
	#providers > div:last-of-type {
		padding: 0 0 25px 0;
		}
  } */

  
/*** Provider Image feature ***/
#providers .provider-listing-cell {
	width: calc(20% - 6px);
	/* float: left; */
  display:inline-block;
  overflow:visible;
  margin: -5px auto;
  padding: 0;
  }
	@media only screen and (max-width: 768px) {
   	#providers .provider-listing-cell {
		width: calc((100% / 3) - 6px);
		}
	}
	@media only screen and (max-width: 520px) {
   	#providers .provider-listing-cell {
		width: calc((100% / 2) - 6px);
		}
  }
  @media only screen and (max-width: 375px) {
    #providers .provider-listing-cell {
    width: 100%;
    }
  }

/**
 * New Provider Banner
 */
#providers .new-provider-banner {
  width: 200%;
  position: absolute;
  top: 0;
  font-weight: bold;
	display:block;
	color:inherit;
	font-weight:600;
  transform: translate(-28%,100%) rotate(-45deg);
  font-size: 1.25vw;
  height: 2.25vw;
  text-align: center;
  }
   /* @media only screen and (max-width: 1025px) {
  #providers .new-provider-banner {
    font-size: calc( var(--fontSize) - 2px);
    height: calc(var(--bannerHeight) - 6px)
    }
  }  */
  @media only screen and (max-width: 767px) {
  #providers .new-provider-banner {
    font-size: 2vw;
    height: 4vw;
    }
  } 
  @media only screen and (max-width: 520px) {
  #providers .new-provider-banner {
    font-size: 3vw;
    height: 6vw;
    }
  }
  @media only screen and (max-width: 375px) {
  #providers .new-provider-banner {
    transform: translate(-35%,100%) rotate(-45deg);
    font-size: 4vw;
    height: 8vw;
    }
  } 

/**
 * Provider Listing
 */

#providers .provider-listing {
  display:block;
  overflow:hidden;
  background-size: 120% auto;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: inset 0 0 32px rgba(0,0,0,0.61), 0 0 32px rgba(0,0,0,0);
  margin: 10px;
  }
#providers .provider-listing:before {
	content: "";
	display: block;
	padding-top: 132%;
	}
	@media only screen and (min-width: 767px) {
	#providers .provider-listing:hover {
    z-index:2;
    background-size: 100% auto;
    overflow:hidden;
		box-shadow: inset 0 0 32px rgba(0,0,0,0), 0 0 61px rgba(0,0,0,0.61);
		margin: -10px;
    }
	}

#providers .provider-listing > a {
	z-index:2;
	position:absolute;
	display:block;
	opacity:0.12;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}
	@media only screen and (min-width: 767px) {
	#providers .provider-listing:hover > a {
		opacity: 0;
		}
	}

#providers .provider-listing > div {
	z-index:3;
	position:absolute;
	display:block;
	bottom: -3vh;
	left:0;
	width:100%;
	color:#ffffff;
	text-align:center;
	background-color: rgba(101, 152, 65, 0.85);
	}
  @media only screen and (max-width: 1280px) {
	#providers .provider-listing > div {
		bottom: -2.5vw;
		}
  }
  @media only screen and (max-width: 767px) {
  #providers .provider-listing > div {
    bottom: -4vw;
    }
  }
  @media only screen and (max-width: 520px) {
    #providers .provider-listing > div {
      bottom: -5.5vw;
      }
    }
  @media only screen and (max-width: 375px) {
	#providers .provider-listing > div {
		bottom: -7.5vw;
		}
	}
	/*	@media only screen and (max-width: 943px) {
	#providers .provider-listing > div {
		bottom: -70px;
		}
	}
	@media only screen and (max-width: 767px) {
	#providers .provider-listing > div {
		bottom:0;
		}
	} */

	#providers .provider-listing:hover > div {
		bottom: 0px;
		}

#providers .provider-listing > div > h3 {
	padding:0;
	margin:0;
	}
  #providers .provider-listing > div > h3 > a {
    display:block;
    color:inherit;
    font-size:1.2vw;
    font-weight:600;
    padding: 5px 5px 5px 5px;
    }
    @media only screen and (max-width: 767px) {
    #providers .provider-listing > div > h3 > a {
      font-size:2vw;
      }
    }
    @media only screen and (max-width: 520px) {
    #providers .provider-listing > div > h3 > a {
      font-size:3vw;
      }
    }
    @media only screen and (max-width: 375px) {
      #providers .provider-listing > div > h3 > a {
        font-size:4vw;
        }
      }
  #providers .provider-listing:hover > div > h3 > a {
    font-size:1.4vw;
    }
    /* @media only screen and (max-width: 1425px) {
    #providers .provider-listing:hover > div > h3 > a {
      font-size:1.3vw;
      }
    }
    @media only screen and (max-width: 1045px) {
    #providers .provider-listing:hover > div > h3 > a {
      font-size:1.3;
      }
    } */
    @media only screen and (max-width: 767px) {
    #providers .provider-listing:hover > div > h3 > a {
      font-size:2.2vw;
      }
    }
    @media only screen and (max-width: 520px) {
    #providers .provider-listing:hover > div > h3 > a {
      font-size:3.2vw;
      }
    }
    @media only screen and (max-width: 375px) {
      #providers .provider-listing:hover > div > h3 > a {
        font-size:4.2vw;
        }
      }
  
  
  #providers .provider-listing > div > a {
    display:block;
    opacity:0;
    font-size:1.1vw;
    font-weight:600;
    padding: 0 9px 6px 9px;
    }
    /* @media only screen and (max-width: 1045px) {
    #providers .provider-listing > div > a {
      font-size:14px;
      padding: 0 9px 9px 9px;
      }
    } */
    @media only screen and (max-width: 767px) {
    #providers .provider-listing > div > a {
      opacity:0.85;
      font-size:1.8vw;
      }
    }
    @media only screen and (max-width: 520px) {
    #providers .provider-listing > div > a {
      font-size:2.8vw;
      }
    }
    @media only screen and (max-width: 375px) {
      #providers .provider-listing > div > a {
        font-size:3.8vw;
        }
      }
    #providers .provider-listing:hover > div a {
      opacity:1;
      }
    #providers .provider-listing > div a:hover {
      color:#F9B336;
      }



/*******************************************/
/************* PROVIDER PROFILE STYLES! ***************/
/*******************************************/
#provider {
	position:relative;
	display:block;
	}
    @media only screen and (max-width: 767px) {
	#provider {
		width:150%;
		margin-left:-25%;
		}
    }
    @media only screen and (max-width: 640px) {
	#provider {
		width:126%;
		margin-left:-13%;
		}
    }
    @media only screen and (max-width: 570px) {
	#provider {
		width:100%;
		margin-left:0%;
		}
    }


#provider .bio,
#provider .stories {
	position:relative;
	display:inline-block;
	width:calc(((100% / 3) * 2) - 36px);
	vertical-align:top;
	margin:0 10px 0 20px;
	}
  @media only screen and (max-width: 767px) {
	#provider .bio,
  #provider .stories {
		width:100%;
		display:inline-block;
		margin:0;
		}
    }

#provider #biography {
  width: 100%;
  display:inline-block;
  }
  @media only screen and (max-width: 767px) {
  #provider #biography {
  /* width:70%; */
	  width:calc(((100% / 3) * 2) - 36px);
    margin-left:170px;
    }
    }
  @media only screen and (max-width: 419px) {
  #provider #biography {
    width:100%;
    margin:0;
    }
    }

#provider .bio > h2,
#provider .stories > h2 {
	color:#8A2575;
	font-size:40px;
	font-weight:300;
	font-style:italic;
	line-height:123%;
	margin-bottom:25px;
  }
  

  @media only screen and (max-width: 767px) {
	#provider .bio > h2,
	#provider .stories > h2,
	#provider .stories > p {
		padding-left:170px;
		}
    }
  @media only screen and (max-width: 419px) {
	#provider .bio > h2,
	#provider .stories > h2,
	#provider .bio > p,
	#provider .stories > p {
		padding-left:0;
		}
    }

#provider .bio > .bioCta {
	font-weight:600;
	}

#provider .bio > .candid {
	position:relative;
	display:inline-block;
	width:calc((100% / 2) - 8px);
	margin:0 2px 10px 0;
	}
#provider .bio > .trp-language-switcher {
  float: right;
  position: relative;
  margin: 0;
  top: 0;
  }

  #providerVideo {
    clear:both;
    position:relative;
    display:inline-block;
    text-align:center;
    cursor: pointer;
    width:100% !important;
    margin-bottom: 1.5em;
  }
  
  #providerVideo #providerVideoEmbed {
    margin: 5px auto;
    position: relative;
    display: block;
  }
  
  #biography .read-more-fold {
    display: none;
    opacity: 1;
    transition: 0.4s;
  }
  
  #biography .read-more-text {
    margin-bottom:60px;
  }
  
  #biography a.read-more-link {
    color: #5F2153;
    position: relative;
    padding: 0 10px;
  }
  .stories .see-more-posts {
    margin-bottom: 60px;
  }
  .stories .see-more-posts a {
    margin-left: 150px;
  }

/**
 * Provider page additional info section
 */
#provider .additionalInfo {
  position:relative;
  border-top: 4px solid #F9B336;
  background-color: #f8f9f9;
  padding: 40px;
  margin: 0 0 100px 0;
  border-top: 4px solid #e53c96;
}
#provider .additionalInfo .infoContent {
  column-count: 3;
  column-width: 300px;
  margin: 0 auto;
  position: relative;
}

#provider .additionalInfo .infoContent h4 {
  font-size: 21px;
  margin: 0 0 5px;
}
#provider .additionalInfo .infoContent > ul {
	margin: 0 0 20px 40px;
  display: block;
  break-inside: avoid-column;
}
	
/* #provider .additionalInfo .infoContent > ul li {
	position: relative;
	vertical-align: top;
} */
  
  /**
   * Location Providers Listing
   */
  /* a.provider-listing {
    box-sizing:border-box;
    position:relative;
    overflow:hidden;
    display:block;
    width:100%;
    font-size: 21px;
    line-height:25px;
    font-weight:300;
    background-color:rgba(0, 177, 232, 0.23);
    padding:10px 15px 10px 60px;
    border-radius:2px;
    margin:0 0 6px 0;
    }
   a.provider-listing.large {
      font-size:48px;
      line-height:56px;
      padding:10px 15px 10px 90px;
      border-radius:4px;
    } */
  
  a.provider-listing {
    box-sizing:border-box;
    position:relative;
    overflow:hidden;
    display:block;
    float:left;
    width:calc(50% - 6px);
    line-height:25px;
    font-weight:300;
    font-size:17px;
    background-color:rgba(0, 177, 232, 0.23);
    padding:10px 15px 10px 60px;
    border-radius:2px;
    margin:0 6px 6px 0;
    }
    @media only screen and (max-width: 1111px) {
    a.provider-listing {
      width:100%;
      }
    }
  
  a.provider-listing.large {
      font-size:48px;
      line-height:56px;
      padding:10px 15px 10px 90px;
      border-radius:4px;
    }
  a.provider-listing:nth-of-type(4n+1) {
    background-color:rgba(184, 204, 51, 0.23);
    }
  a.provider-listing:nth-of-type(4n+2) {
    background-color:rgba(249, 179, 54, 0.23);
    }
  a.provider-listing:nth-of-type(4n+3) {
    background-color:rgba(214, 108, 170, 0.23);
    }
  a.provider-listing:hover {
    color:#ffffff;
    background-color:rgba(0, 177, 232, 1);
    }
  a.provider-listing:nth-of-type(4n+1):hover {
    background-color:rgba(184, 204, 51, 1);
    }
  a.provider-listing:nth-of-type(4n+2):hover {
    background-color:rgba(249, 179, 54, 1);
    }
  a.provider-listing:nth-of-type(4n+3):hover {
    background-color:rgba(214, 108, 170, 1);
    }
  a.provider-listing:focus {	
    font-weight:600;
    }
  
  a.provider-listing img {
    position:absolute;
    top:0;
    left:0;
    display:block;
     width:45px; 
  /*	height:130%;*/
    }
  a.provider-listing.large img {
      width:75px
    }
  

/*******************************************/
/************* STORY STYLES! ***************/
/*******************************************/

#provider .stories {
  display: block;
  position: relative;
  margin: 50px 20px 0 auto;
  }

#provider .providerStory {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  width: calc(100% + 13px);
  /* float: left; */
  padding: 10px;
  border: solid 3px rgba(0, 177, 232, 0);
  border-width: 1px 1px 1px 3px;
  transition: all 0.42s;
  margin-left: -13px;
  }
@media only screen and (max-width: 767px) {
#provider .providerStory {
  width:100%
  }
}
#provider .providerStory:before {
content:"〉";
position:absolute;
opacity:0;
top:0px;
right:-20px;
display:block;
height:100%;
color:#00B1E8;
font-size:61px;
vertical-align:middle;
transition:0.2s;
}
#provider .providerStory:hover {
color:#00B1E8;
border-color:rgba(0, 177, 232, 1);
  border-width:1px 1px 1px 9px;
/*	box-shadow:0 3px 3px rgba(0,0,0,0.23);*/
}
#provider .providerStory:hover:before {
opacity:1;
}

#provider .storyThumb {
  display: block;
  float: left;
  width: 100px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-right: 23px;
  }

#provider .storyTitle {
  font-size: 30px;
  line-height: 123%;
  display: block;
  }
@media only screen and (max-width: 566px) {
#provider .storyTitle {
  font-size:24px;
  }
}

/*******************************************/
/*********** END STORY STYLES! *************/
/*******************************************/


/*********************************************************/
/*********** START SERVICE PROVIDERS STYLES! *************/
/*********************************************************/
#service-providers {
	overflow:hidden;
	background-color:#fafafa;
	padding:40px;
	border-top:solid 4px #E53C96;
	}
#service-providers > h4 {
	font-size:123%;
	}

#service-providers .doctors {
	overflow:hidden;
	display:block;
	margin-bottom:20px;
	}

#service-providers .midlevels {
/* 	overflow:hidden; */
	display:block;
/* 	margin-top:20px; */
	}

/*******************************************************/
/*********** END SERVICE PROIVDERS STYLES! *************/
/*******************************************************/



/*****************************************************/
/*********** START GOOGLE REVIEW STYLES! *************/
/*****************************************************/
#google-reviews {
  margin-bottom: 100px;
}

#google-reviews-header {
  width: 100%;
  padding-top: 200px;
  text-align: center;
  margin-bottom: 40px;
  background: no-repeat url('../images/google-reviews-header.svg') top/100%;
  }
  @media only screen and (max-width: 959px) {
    #google-reviews-header {
      padding-top: 140px;
    }
  }
  @media only screen and (max-width: 767px) {
    #google-reviews-header {
      padding-top: 80px;
    }
  }
  /* @media only screen and (max-width: 560px) {
    #google-reviews-header {
      padding-top: 60px;
    }
  } */

#google-reviews-header h3 {
  font-size: 3em;
  font-weight: 900;
  color: #659841;
  line-height: .9em;
  }
#google-reviews-header p {
  font-weight: bold;
  line-height: 1em;
  }
#google-reviews .google-review-thanks {
  font-size: 2em;
  font-weight: bold;
  color: #659841;
  text-align: center;
  }

#google-reviews-list {
  text-align: center;
  margin: 10px 0 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row dense;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  }
  @media only screen and (max-width: 560px) {
    #google-reviews-list {
      width: 100%;
      row-gap: 60px;
    }
  }

#google-reviews-list .google-review-provider {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
  align-items: center;
  width: 65%;
  }
  @media only screen and (max-width: 767px) {
    #google-reviews-list .google-review-provider {
      width: 100%;
    }
  }
  @media only screen and (max-width: 560px) {
    #google-reviews-list .google-review-provider {
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(min-content, max-content);
      width: 100%;
      row-gap: 20px;
    }
  }

#google-reviews-list .google-review-provider img {
  max-height: 200px;
  margin: 0 auto;
  }

#google-reviews-list .google-review-provider button {
  background-color: #659841;
  font-size: 42px;
  font-weight: bold;
  padding: 0 18px;
  border-radius: 25px;
  height: 50%;
  min-height: 35px;
  /* min-width: 300px; */
  width: 100%;
  box-sizing: border-box;
  /* line-height: 28px; */
  color: white;
  border: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: .8em;
  }
  @media only screen and (max-width: 959px) {
    #google-reviews-list .google-review-provider button {
      font-size: 32px;
    }
  }
  @media only screen and (max-width: 560px) {
    #google-reviews-list .google-review-provider button {
      font-size: 22px;
    }
  }
  #google-reviews-list .google-review-provider button:hover {
    background-color: #a7ca38;
  }
