/*******************************************/
/************* PROVIDER SEARCH STYLES! ***************/
/*******************************************/
#providerSearch {
  margin: 40px auto;
}


/* Provider loader spinner */
#providerSearch .search-loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #a7ca38;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
 * Provider Search Bar
 */

#providerSearch .provider-search-container {
  width: 100%;
  padding: 20px 0 40px;
}

.ui-autocomplete {
  /* height:0px; */
  font-size:24px;
  list-style-type: none;
  /* width: 60%; */
  z-index: 99999;
  border:1px solid #a7ca38;
  border-radius: 5px;
}

.ui-menu-item-wrapper {
  padding: 0 16px;
  background-color: #ffffff;
}

.ui-state-active {
  background-color: #a7ca38;
}

.ui-helper-hidden-accessible { 
  display:none !important;
}

#providerSearch input[type=text] {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  width: 60%;
  border:1px solid #a7ca38;
  font-size: 18px;
  border-radius: 10px;
  }
  @media only screen and (max-width: 767px) {
  #providerSearch input[type=text] { 
    width: 90%;
  } 
  }

/*
 * Provider Filters
 */
#providerSearch #searchFilter {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

#providerSearch #searchFilter a.search-filter {
  color: #659841;
}

#providerSearch #searchFilter a.search-filter i {
  margin: 0 5px;
  font-size: smaller;
}

#providerSearch #resetFilters {
  padding: 40px;
  overflow: auto;
  /* margin: 0 auto; */
}

#providerSearch #resetFilters a.reset-filters {
  position: relative;
  float: right;
  color: #659841;
 }
 /* @media only screen and (max-width: 767px) {
  #providerSearch #resetFilters a.reset-filters {
    position: relative;
    float: right;
    color: #008000;
   }
 } */

/* #providerSearch #searchFilter a.search-filter::after {
  content: var(--after-arrow);
  color: #659841;
  vertical-align: middle;
} */

#providerSearch #advancedFilter {
  margin: 0 auto;
  /* padding-bottom: 40px; */
  width: 100%;
  display: none;
  overflow: auto;
}

#providerSearch #advancedFilter .filters-row-1 {
  width: 100%;
  display: block;
  overflow: auto;
  position:relative;
}

#providerSearch #advancedFilter .filters-row-2 {
  width: 100%;
  clear: both;
  overflow: auto;
}

#providerSearch #advancedFilter .filter {
  width: 19%;
  /* padding: 0 20px; */
  margin: 0 auto;
  display: block;
  position: relative;
  float: left;
  box-sizing: border-box;
  top: 0;
  }
  @media only screen and (max-width: 767px) {
  #providerSearch #advancedFilter .filter {
    width: 100%;
    padding-left: 32px;
  }
}

#providerSearch #advancedFilter .filter h6 {
  margin: 20px 0 0;
}


#providerSearch #advancedFilter .filter label {
  display: block;
  clear: left;
}
  /* @media only screen and (max-width: 767px) {
    #providerSearch #advancedFilter .filter label {
      text-indent: -12px;
    }
  } */
#providerSearch #advancedFilter .filter label::after {
  content: "\a"
}

#providerSearch #advancedFilter input[type=checkbox] {
  margin-right: 10px;
  padding-left: 1.5em;
  text-indent: -0.7em;
}
/* @media only screen and (max-width: 767px) {
  #providerSearch #advancedFilter input[type=checkbox] {
    margin-left: -6px;
  }
} */

/* #providerSearch #advancedFilter .filter-services {
  width: 100%;
} */

#providerSearch #advancedFilter .filter-services .services-col-1,
#providerSearch #advancedFilter .filter-services .services-col-2,
#providerSearch #advancedFilter .filter-services .services-col-3 {
  position: relative;
  float: left;
  width: 30%;
  }
  /* @media only screen and (max-width: 767px) { 
  #providerSearch #advancedFilter .filter-services .services-col-1,
  #providerSearch #advancedFilter .filter-services .services-col-2,
  #providerSearch #advancedFilter .filter-services .services-col-3 {
    position: relative;
    float: left;
    width: 45%;
    }
  } */
  @media only screen and (max-width: 767px) { 
  #providerSearch #advancedFilter .filter-services .services-col-1,
  #providerSearch #advancedFilter .filter-services .services-col-2,
  #providerSearch #advancedFilter .filter-services .services-col-3 {
    width: 100%;
    }
  }

#providerSearch #advancedFilter .filter-desktop {
  display: block;
  }
  @media only screen and (max-width: 767px) { 
  #providerSearch #advancedFilter .filter-desktop {
    display: none;
    }
  }

#providerSearch #advancedFilter .filter-mobile {
  display: none;
  }
  @media only screen and (max-width: 767px) { 
  #providerSearch #advancedFilter .filter-mobile {
    display: block;
    }
  }

#providerSearch #advancedFilter select {
  width: 250px;
  font-size: 16px;
  margin: 10px 0
  }

#providerSearch #advancedFilter .services-message {
  font-size: 15px;
  display: block;
  }
  @media only screen and (max-width: 767px) { 
  #providerSearch #advancedFilter .services-message {
    display: none;
    }
  }

/*
 * Provider Cards
 */
#providerSearch #providerResults {
  margin: 0 auto;
  border-top: 1px solid #008000;
  padding: 40px 0;
  width: 100%;
}

#providerSearch .provider-card {
  display: block;
  position: relative;
  float: left;
  height: 250px;
  width: 550px;
  margin: 5px;
  transition: display 2s linear;
  }
  @media only screen and (max-width: 767px) {
  #providerSearch .provider-card {
    height: 425px;
    width: 100%;
  }
}

#providerSearch .provider-card .provider-photo {
  position: relative;
  float: left;
  padding-right: 5px;
  }
  @media only screen and (max-width: 767px) {
  #providerSearch .provider-card .provider-photo {
    width: 100%;
    display: block;
    text-align: center;
  }
}

#providerSearch .provider-card .provider-photo img {
  height: 200px;
  border-radius: 10px;
}

#providerSearch .provider-card .provider-data {
  position: relative;
  float: left;  
  width: 65%;
  padding: 10px;
  }
  @media only screen and (max-width: 767px) {
  #providerSearch .provider-card .provider-data {
    width: 100%;
    clear: both;
    display: block;
  }
}

#providerSearch .provider-card .provider-data .provider-name h5 {
  margin-bottom: 6px;
}

#providerSearch .provider-card .provider-data .provider-name a {
  color: #800080;
}

#providerSearch .provider-card .provider-data i {
  color: #800080;
  font-size: larger;
}
