/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#cvfmp-meta-box {
}

#cvfmp-meta-box p {
  margin-bottom: 2em;
}
#cvfmp-meta-box label {
  /*margin-bottom: 1em;*/
}

#cvfmp-meta-box input {
}

#cvfmp-meta-box textarea {
}
#cvfmp-meta-box input,
#cvfmp-meta-box textarea {
  display: block;
  vertical-align: top;
}

#cvfmp-meta-box span.url-label {
  display: inline-block;
}

#cvfmp-meta-box .cvfmp-row-title {
   font-weight: bold;
 }

#cvfmp-meta-box .cvfmp-meta-provider-image,
#cvfmp-meta-box .cvfmp-meta-service-image,
#cvfmp-meta-box .cvfmp-meta-candid-photo {
  display: block;
  margin-bottom: 1em;
  height: 200px;
}

#cvfmp-meta-box .button {
  margin: 10px;
}

#cvfmp-meta-box span.radio-buttons {
  /*padding-top: 2px;*/
  display: block;
  margin-top: 4px;
}

#cvfmp-meta-box .cvfmp_meta_google_review_locations {
  display: inline-block;
  vertical-align: middle;
}

#cvfmp-meta-box .cvfmp-meta-radio,
#cvfmp-meta-box .cvfmp-meta-checkbox,
#cvfmp-meta-box .cvfmp-meta-google-review-single-page,
#cvfmp-meta-box .cvfmp-meta-google-review-locations,
#cvfmp-meta-box .cvfmp-meta-locations {
  display: inline-block;
  vertical-align: middle;
}
